<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.setupbuilder">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.setupbuilder.view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.setupbuilder.view.LoginActivity" />
        <activity android:name="br.com.setupbuilder.view.SettingsActivity" />
        <activity
            android:name="br.com.setupbuilder.view.RegisterActivity"
            android:theme="@style/AppLightTheme" />
        <activity android:name="br.com.setupbuilder.view.MenuActivity" />
        <activity android:name="br.com.setupbuilder.view.NewSetupActivity" />
        <activity android:name="br.com.setupbuilder.view.ViewSetupActivity" />
        <activity android:name="br.com.setupbuilder.view.PasswordRecoveryActivity" />
        <activity android:name="br.com.setupbuilder.view.ViewPartActivity" />
        <activity android:name="br.com.setupbuilder.view.ListProductActivity" />
        <activity android:name="br.com.setupbuilder.view.ViewProductActivity" />
        <activity android:name="br.com.setupbuilder.view.CpuBenchmarkActivity"/>
        <activity android:name="br.com.setupbuilder.view.GpuBenchmarkActivity"/>

    </application>

</manifest>